#customers_list= render :partial => "customers"

#dialog{:title => "Customer Editor",:remote => true }
  #customer_form
    = form_for @customer, :remote => true do |customer|
      %br
      %br
      = customer.label :name
      = customer.text_field :name, class: "form-control"
      %br
      = customer.label :email
      = customer.text_field :email, class: "form-control"
      %br
      = customer.label :telephone
      = customer.text_field :telephone, class: "form-control"
      %br
      = customer.file_field :customer_pic
      %br
      = customer.submit "Create New", :method => "POST"
      %br
      %br
      = customer.submit "EDIT"
      









          