- @search_results.each do |customer|
  .col-sm-4.col-xs-6
    .panel.panel-default
      .panel-thumbnail

        = image_tag customer.customer_pic.url ,:style => "max-width: 100%"

      .panel-body
        %p.lead 
        = customer.title
        %p 
          = customer.description
          %br
        %p
          %a{:href=>"/customers/#{customer.id}/edit"} EDIT
          %a{:href=>"/customers/#{customer.id}/edit"} DELETE
          %br
          = link_to "Download Photo", download_customer_pic_photo_path(customer)
